<div class="component">
  <div class="options">
    <button *ngIf="!editMode" (click)="editMode=!editMode">Edytuj produkty</button>
    <button *ngIf="editMode" (click)="saveProducts()">Zapisz</button>
    <button *ngIf="editMode" (click)="cancelEditMode()">Anuluj</button>
    <button (click)="addProduct()">Dodaj produkt</button>
  </div>
  <br>
  <ul>
    <li *ngFor="let product of productsList" (click)="sendProduct(product)">
      <input type="text" [disabled]="!editMode" [(ngModel)]="product.name" placeholder="wpisz nazwę">
      <input type="text" [disabled]="!editMode" type="number" [(ngModel)]="product.kcal" placeholder="podaj kcal">
      <button *ngIf="editMode" (click)="removeProduct(product)">Usuń</button>
    </li>
  </ul>
</div>
